<div class="container">
    <h3 class="text-center py-3">Features</h3>
    <section class="section padding-top-70 pb-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                    <img src="assets/features-img/feature4.webp" class="rounded img-fluid d-block mx-auto"
                        data-aos="zoom-in-up" data-aos-duration="1000" alt="Authorised">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Authorised Hosts & Admins</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">The teacher(host) can create a class, add
                            participants, schedule timings,
                            control video and
                            audio settings of the participants from the particular session, create quizzes, view
                            attendance etc. The authorised Admin adds the teachers, students, classes, subjects etc and
                            will be able to monitor every session and modify the templates if required, the host will
                            only be provided with access to one session at a time, whereas the admin has access to
                            multiple sessions. The admin is the only person who can upload data, add participants to the
                            class, view the total number in every session, the number of participants attending the
                            session, the number of sessions completed, future sessions, etc.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-aos="fade-right"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Unique Domain, Username & Password</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">Insight Mirror enables participants, Admins and hosts to create a unique
                            username and
                            password which will provide access to the sessions. This is a one time process and it is
                            mandatory to have a username and password-protected account. The user name consists of the
                            participant's name and the domain, which is the name of the institution.The app does not
                            allow access to the sessions without an authorised user account.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big">
                    <img src="assets/features-img/feature5.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Unique">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section padding-top-70 pb-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                    <img src="assets/features-img/oneone.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Authorised">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">One on One Screen Experience</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">Insight Mirror believes every student requires personal care and
                            attention
                            from timeto time,
                            which is why we have a custom 'One on One screen'. The one on one screen enables the
                            participant to view only the host's screen thereby creating an illusion of undivided
                            attention to one particular participant even though there are many participants in the
                            session. The participant can switch to the multiple screen feature if required.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-aos="fade-right"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Easy Scheduling And Personalisation of Sessions</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">Insight Mirror is very user-friendly and allows the host to create a
                            tailor-made session.
                            Once the host creates the session, he/she can schedule the session by adding the date and
                            time. It allows the host to add participants according to the requirement of the session.
                            There is no minimum number, as sessions can take place with one participant also. Once the
                            host assigns a name to the session and adds the participants, it instantly is added to the
                            participant's schedule.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big">
                    <img src="assets/features-img/feature6.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Easy">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-top-70 pb-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                    <img src="assets/features-img/branding.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="branding">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Personalised Branding Facility</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">Insight Mirror allows the Admin to personalise the look and feel of
                            their
                            page with
                            customised themes, backgrounds, logos, fonts etc. It enables every signed up organisation to
                            have a brand that suits their personality, according to their norms and requirements. The
                            branding shall be accessed and modified only by the Admin.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-aos="fade-right"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Integrated Quizzes</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">We understand that Online sessions can be monotonous and it is quite a
                            task to grab
                            everybody's attention for the entire forty minutes. Hence there are integrated quizzes that
                            will help the host spruce up everyone's mood. Every quiz is created and assigned by the host
                            to their participants as per the requirement of the session. The host can schedule the quiz
                            and view the insights along with the attendance summary after the participants complete it.
                            This feature is very efficient, as it saves the host lot of time and effort.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big">
                    <img src="assets/features-img/quiz.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Quiz">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-top-70 pb-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                    <img src="assets/features-img/attendence.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Attendence">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Attendance</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">Attendance is provided with tracking of the student’s activities such as
                            Tab Switching,
                            Closing of browser, and can be exported as a CSV file.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-aos="fade-right"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">No Links/ Codes</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">We offer a high-end learning experience with the no link/ codes
                            features.
                            Every class is
                            updated on the participant's schedule once the Host creates a session. It saves the Host
                            from sending multiples links or codes and does not give room for any confusion.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big">
                    <img src="assets/features-img/nolink.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Nolink">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-top-70 pb-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                    <img src="assets/features-img/theme.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Theme">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Dark & Light Theme</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">Every user has the screen customisation option. Users can switch between
                            dark andlight theme
                            according to their preference.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-aos="fade-right"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Message & Chat Room</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">A message and chat section is available for the participants for
                            queries,
                            comments,
                            suggestions and responding during the session.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big">
                    <img src="assets/features-img/message.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Message">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section padding-top-70 pb-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                    <img src="assets/features-img/recording.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="REcording">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Recording Sessions</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">The record button allows the hosts, participants and admins to record
                            the
                            live session and
                            saves it for later. It promotes easy learning for participants who missed the session, can
                            be used as reference material for quizzes and it also helps the host to keep track of the
                            knowledge imparted.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-aos="fade-right"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Digital Whiteboard</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">Insight Mirror gives the host access to a digital whiteboard which is a
                            replica of the
                            regular blackboard to provide the participants with a much-personalised classroom touch. The
                            whiteboard lets the host use a pen to write, draw, etc and have an interactive session.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big">
                    <img src="assets/features-img/feature2.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="Whiteboard">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-top-70 pb-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                    <img src="assets/features-img/feature1.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="hostcontrolled">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Host Controlled Sessions</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">The session starts only after the Host starts the session and grants
                            permission to the
                            participants to attend the session. The session automatically expires once the host exits.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" data-aos="fade-right"
                    data-aos-duration="1000">
                    <div class="left-heading">
                        <h2 class="section-title">Video & Audio Controls</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-muted">The Host controls the video and audio settings of the participants, it
                            allows the host to
                            toggle the video and mute or unmute any participant as per their requirement. The
                            participants need to request permission for the host to unmute them in between sessions.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big">
                    <img src="assets/features-img/videoaudio.webp" data-aos="zoom-in-up" data-aos-duration="1000"
                        class="rounded img-fluid d-block mx-auto" alt="VideoAudio">
                </div>
            </div>

        </div>
    </section>
</div>